#dashboard-grid {
  height: 100%;
  width: 100%;
}

.grid-stack-item-content {
  color: #fff;
  background-color: #27292D;
  border-radius: 15px;
}

.emptyGridIntro {
  color: #dee2e6;
  height: calc(100vh - 104px);
}